*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
	font-family:"Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#navigationBar,#miserableBarra{
	width: 100%;
	height: 60px;
	background-color: rgb(37,41,44);
}

#dropArea{
	width: 100%;
	min-height: 300px;
}

#dropArea canvas{
	width: inherit;
	height: inherit;
	min-height: 300px;
	background-color: rgba(0,0,0,0.2);
}

#filtros{
	width: 100%;
	padding: 15px;
	overflow-x: auto;
	overflow-y: hidden;
}

#filtros .filtro{
	width: 80px;
	height: 100px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-right: 15px;
	display: inline-block;
}